{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if title %}
    <title>Willygram | {{ title }}</title>
    {% else %}
    <title>Willygram</title>
    {% endif %}
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'home/css/reboot.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/sb-admin-2.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/feed.css' %}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f43b383d96.js" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/jquery.min.js' %}"></script>


</head>

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand bg-primary topbar mb-4 static-top shadow text-white" style="color: rgb(207, 140, 140) !important;">

                <!-- Sidebar Toggle (Topbar) -->


                <!-- Topbar Search -->

                <!-- Topbar Navbar -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                  <div class="sidebar-brand-icon rotate-n-15 text-white">
                      <i class="fas fa-meteor"></i>
                  </div>
                  <div class="sidebar-brand-text mx-3 text-white">Willygram</div>
                </a>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" >
                        <span class="mr-2 d-lg-inline text-white">Login</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" >
                        <span class="mr-2 d-lg-inline text-white">Register</span>
                    </a>
                  </li>

                    <!-- Nav Item - User Information -->
                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <!-- Page Heading -->
                {% block content %}

                {% endblock %}
            </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>